

#game-view{


    height: 800px;
    display:flex;

    justify-content: center;

}


#grid{
    margin-top:10px;
    margin-left:140px;
    width: 200px;
    height: 400px;




    background-image:url("Images/tetris-grid-bg.png");
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;

}



.cells
{
    height:20px;
    width:20px;

}


.tetromino{
    background-color: blue;
}

#small-grid
{


    /*position:absolute;top:200px;*/
   margin-top:10px;
    margin-left: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("Images/tetris-small-grid.png");
    background-size: 100%;

}

#small-grid div
{


    height: 20px;
    width: 20px;
}


/*Insert Tetris Background for all pages, which have div id='main' */
.main
{

    height:100%;
    background-repeat:no-repeat;
    background-image: url("Images/tetris.png") ;
    background-size: 95%;
    background-position: center;
}

/*Style Navbar across all pages*/

/* Add a blue background color to the centre of navbar */
.navbar {
    background-color: blue;
    overflow: hidden;
}

/* Style the links inside the navigation bar */


.navbar a {
    float: left;
    font-family: Belinksy;
    font-weight:bold;

    color: #f2f2f2;
    background-color: blue;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.right-navbar {
    float: right;
}





